@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
    }
    /* responsive images */
    nav ul.hide {
        margin-top: 50px;
        background-color: #458CDC;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        height: 30px;
        font-size: 20px;
        padding: 6px;


    }
    nav ul li a {
        border-top: none;
        margin-right: 6px;
        padding: 6px;
    }

    main {

        display: flex;
        flex-direction: column;
    }
    figure img {
        max-width: 100%;
        border-style: solid;
        border-width: 3px;
        width: 800px;


    }

    #whole-thing {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;


    }

    #weather-summary {
        font-size: 20px;
        text-align: left;




    }

    section.forecast {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-style: solid;
        border-width: thin;
        box-shadow: 5px 5px 5px gray;
        width: 200px
    }


    #article {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    article h3 {
        text-align: center;
        font-size: 40px;
    }

    #forecast-header {
        background-color: #458CDC;
        color: white;
        text-align: center;
    }
    .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
    }
    .mainsection {display: grid;
                 grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px}

    .mainsection article {
        display: block;
    }
    #mainimg {
        height: 300px;
        width: 100%;
        margin-bottom: -6px
    }
    #weatherStoryImg {
        


    }
    #mainWeatherStory article p {
        text-align: left;
    }
    #mainStoryImg {display:grid;
                grid-template-columns: 60% 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
               margin-bottom: 30px;}
    #weatherImg {height: 300px;
                  width: 300px;
                  margin: 0}

}
