@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    #street-pic {
        height: 350px;
        width: 350px;


    }
    main h2 {
        margin: 50px;
        font-size: 40px;
    }
    main {
        margin-left: 150px;
        margin-right: 150px;
        font-size: 30px;

    }
    #whole-thing {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #weather-summary {
        font-size: 20px;
        text-align: left;





    }

    section.forecast {
        width: 210px;
        height: 370px;

    }
    #middle-img {
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: center;
        box-shadow: 5px 5px 5px gray;
    }
    #middle-txt {
        font-size: 15px;
        margin-top: 20px;
    }

    #franklin-img {
        display: flex;
        justify-content: center;
    }

    .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        margin-bottom: -300px;
    }
    article {
        font-size: 20px
    }
    #img1:hover {box-shadow: 5px 5px 5px 5px gray;}
#img2:hover {box-shadow: 5px 5px 5px 5px gray;}
#img3:hover {box-shadow: 5px 5px 5px 5px gray;}
#img4:hover {box-shadow: 5px 5px 5px 5px gray;}
#img5:hover {box-shadow: 5px 5px 5px 5px gray;}
#img6:hover {box-shadow: 5px 5px 5px 5px gray;}




}
