@media only screen and (min-width: 80em) {
    
    /* Main */
    #mainbikepic {
    height: 100%;
    width: 100%;
    
}
    .main1{
        height: 300px;
        overflow: hidden;
    }
    
    #mottodiv {
    display: flex;
    height: 50%;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 30px;
  
    
}
    #mottoquote {
        font-size: 20px;
        text-align: center;
        margin-left: 30px;
        margin-top: 60px;
    }

    #mottoheader {
        text-align: center;
        margin-left: 30px;
        border: solid;
        border-radius: 20px;
        text-align: center;
        background-color: #0A1612;
        color: #f7ce3e;
        
    }
    /* Adventure Page */
    
    .adventurePage {display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px
    }
    .bearGulch {
        width: 40%;
    }
    .cycleCanyon {
        width: 40%;
    }
    .cycleCanyon1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        align-items: center;
        
            }
    .adventureDescription p {margin-top: -70px;
        margin-left: -60px
                            
    }
    /*Events*/
    .events1{
    display: flex;
    flex-direction: column;
}
    .events {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
    }
    .eventsp{ margin-top: 0;}
    .personalinformation {
        height: auto;
        width:auto;
        display:flex;
        flex-direction: row;
       justify-content: center;
        
    }
    .personalinformation div { margin-bottom: 20px;
    
        
    }
    /*Sales*/
    table {
        
        font-size: 40px;
    }
    /*Contact*/
    
    .contactMain {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .map {
      height: 500px;
      width: 500px;
        align-self: center;
    }
    .contactInformation {
        font-size: 20px;
        margin-left: 200px
     
    }
    .contactinfo {
        font-size: 17px;
        margin-left: 200px;
    }
    iframe {
        height: 100%;
        width: 100%;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}